<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div>
    <h2>所有水果</h2>
    <ul id="Q"></ul>

    <input type="text" id="S" size="5" />
    <input type="button" value="搜尋" onclick="Find();" />

    <p id="Z"></p>
</div>
<script>
    var url = 'api/Product';
    $(document).ready(function () {
        $.getJSON(url).done(function (data) {
            $.each(data, function (key, item) {
                $("<li>", { text: formatItem(item)}).appendTo($('#Q'));
            });
        });
    });

    function formatItem(item) {
        return item.Name + ": $" + item.Price + " 重量：" + item.Weigh;
    }

    function Find() {
        var id = $('#S').val();
        $.getJSON(url + '/' + id).done(function (data) {
            $('#Z').text(formatItem(data));
        });
        $.getJSON(url + '/' + id).fail(function (jqXHR, textStatus, err) {
            $('#Z').text('Error：' + err);
        });
    }
</script>